/* Elements */
body {
	background-color: #B2ECFF;
	margin: 1.5em 2%;
}
p {
	margin-top: .75em;
	margin-bottom: .75em;
}
h1 {
	font-size: 2.0em;
	font-weight: 600;
	text-align: center;
	color: teal;
}
h3 {
	color: teal;
}
hr {
	height: 1px;
	background-color: #999;
	border-style: none;
}
select {
	background-color: white;
}
fieldset {
	border-color: teal;
}
fieldset legend {
	color: teal;
}
/* Hyperlinks */
a:link {
	color: blue;
}
a:visited {
	color: purple;
}
a:hover {
	color: red;
}
/* Classes */
.comment-head {
	color: teal;
	margin-bottom: 10px;
}
.comment {
	/*border: 1px solid teal;*/
	padding: 6px;
	/*background-color: #E8E8E8;*/
	margin-bottom: 16px;
}
.comment-from {
	color: teal;
}
.img-w3 {
	border: 0;
	width: 88px;
	height: 31px;
	float: right;
}
